Upload: gol.cpp<br />Type: application/octet-stream<br />Size: 4.9111328125 Kb<br />Upload complete.  Save this receipt for your records:<br /><br />SHA1: 8ffb03077773edcf7ff5bdc606443f96ebc7cae0<br />Receipt: 8b0f0f5e54e3e37b813225eec46cbc0f8325ba32